#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "lionwiki-t2t"
name = "Lionwiki"
description.en = "Lightweight wiki-style CMS using the txt2tags syntax"
description.fr = "CMS léger, géré sous forme de wiki utilisant la syntaxe txt2tags"

version = "2025.04.17~ynh1"

maintainers = ["Eric Forgeot"]

[upstream]
license = "MIT"
website = "https://lionwiki-t2t.sourceforge.io/"
admindoc = "https://lionwiki-t2t.sourceforge.io/"
userdoc = "https://github.com/farvardin/whatistxt2tags"
code = "https://sourceforge.net/projects/lionwiki-t2t"
cpe = "cpe:2.3:a:lionwiki:lionwiki"

[integration]
yunohost = ">=12.0.9"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "200M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/lionwiki"

    [install.init_main_permission]
    help.en = "If it's not public, only SSO registered users will be able to user it."
    help.fr = "Si ce n'est pas public, seuls les utilisateurs enregistrés sur le SSO pourront l'utiliser."
    type = "group"
    default = "visitors"

    [install.language]
    ask.en = "Choose the application language"
    ask.fr = "Choisissez la langue de l'application"
    type = "select"
    choices = ["fr", "en"]
    default = "en"

    [install.admin]
    type = "user"

    [install.password]
    help.en = "Define a password which will be used for wiki edition and administration."
    help.fr = "Veuillez définir un mot de passe qui sera valable pour l'édition des pages de ce wiki ainsi que pour l'administration."
    type = "password"

    [install.wiki]
    ask.en = "Set the wiki name"
    ask.fr = "Définissez le titre de votre wiki"
    help.en = "This name will be displayed in the header of the wiki."
    help.fr = "Ce nom sera affiché dans l'entête de votre wiki."
    type = "string"
    example = "My Wiki"
    default = "My Wiki"

    [install.color]
    ask.en = "Set color base"
    ask.fr = "Définissez la couleur de base"
    help.en = "Use hexadecimal value (6 figures without #)"
    help.fr = "Utilisez une valeur hexadecimale (6 chiffres sans # devant)"
    type = "string"
    example = "D17732"
    default = "328cc1"

    [install.custom_php_version]
    ask.en = "Choose a PHP version you want to use for your app"
    ask.fr = "Choisissez une version PHP que vous souhaitez utiliser pour votre application"
    type = "select"
    choices = ["7.4", "8.0", "8.1", "8.2", "8.3", "8.4"]
    default = "7.4"
    # next: 8.2

    [install.custom_template_version]
    ask.en = "Choose the default template"
    ask.fr = "Choisissez le thème par défaut"
    type = "select"
    choices = ["templates/mimoza/mimoza.html", "templates/the-monospace-web.html", "templates/minimaxing/minimaxing.html", "templates/bootstrap/bootstrap.html", "templates/minimal.html", "templates/wikiss.html", "templates/terminal_green.html"]
    default = "templates/mimoza/mimoza.html"
    # next: 8.2

[resources]
    [resources.sources.main]
    url = "https://github.com/farvardin/lionwiki-t2t/archive/dd729a4c138326d1584894139bd50b62650cbd86.tar.gz"
    sha256 = "131f91dae4ba869233bdda200564b6e4f69c3fe5d302c79a5ee28b02ae4d32f1"

    autoupdate.strategy = "latest_github_commit"
    autoupdate.asset = "tarball"
    autoupdate.upstream = "https://github.com/farvardin/lionwiki-t2t"

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = [
        "node-less",
        "acl",
    ]
    packages_from_raw_bash = """
        echo "php${custom_php_version}-fpm"
    """
